.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5em;
  padding: 2em;
}

.App-header {
  background-color: #222;
  background-image: url('./images/background_header_desktop.jpg');
  color: white;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

.card-list-image {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* @media only screen and (max-width: 560px) {
  .App-header {
    background-image: url('./background_header_mobile.jpg');
  }
} */